/* ONS */
body{
  background-color: black;
  color:#FFFFFF;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 24px;
  font-style: normal;
  line-height:29.05px;

}
h1{
  font-weight: 400;
}
input{
  background-color:black;
  border-bottom:1px solid white;
  color:#FFFFFF;}

button{
  width:226px;
  height:58px;
  margin-top:20vh;
}
button *{
  font-weight:300;
  font-size:24px;
  line-height: 29.05px;

}
.inputs *{
  margin:5px;
}
form{
  margin-top: 25vh;
  margin-left: 25vw;
  width: 50%;
  padding: 10px;
}
